################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/SistemaGestionBussinessNET/bin/Debug/net6.0
/SistemaGestionBussinessNET/obj
/SistemaGestionDataNET/bin/Debug/net6.0
/SistemaGestionDataNET/obj
/SistemaGestionEntitiesNET/bin/Debug/net6.0
/SistemaGestionEntitiesNET/obj
/WebAPI/bin/Debug/net6.0
/WebAPI/obj
/Login/bin/Debug/net6.0-windows
/Login/obj
/WinFormsApp1
*.sql
